{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>Editor de currículo</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href=" {% static 'css/style.css' %} " rel="stylesheet">
    </head>
    <body>
        <nav class="nav justify-content-end">
            <a class="nav-link active" href="#">Registrar</a>
            <a class="nav-link" href="#">Entrar</a>
        </nav>
        
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4 name">{{pessoa.name}}</h1>
                    <p>{{pessoa.sumary}}</p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="flex-row">
                            <h2 class="display-5">Redes Sociais</h2>
                            {% for redesocial in redessociais %}
                                <p>
                                    Nome: {{redesocial.name}}
                                    <i class="fa fa-link" aria-hidden="true"></i> 
                                    <a href="{{redesocial.link}}">
                                        {{redesocial.link}}
                                    </a>
                                </p>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <h2>Experiêcia</h2>
                            <p>{% lorem how_many_paragraphs %}</p>
                        </div>
                        <div class="row">
                            <h2>Formação</h2>
                            <p>{% lorem how_many_paragraphs %}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <figure class='figure'>
                                <img src="{% static pessoa.photo %}" class="figure-img img-fluid rounded img-thumbnail" alt="{{pessoa.name}}">
                                <figcaption class="figure-caption">{{pessoa.name}}</figcaption>
                            </figure>
                        </div>
                        <div class="row">
                            {{pessoa.address}}
                        </div>
                        <div class="row">
                            <a href="mailto:{{pessoa.mail}}">
                                {{pessoa.mail}}
                            </a>
                        </div>
                        <div class="row">
                            Telefones:
                            {% for telefone in telefones %}
                                <p class="p-phone">
                                    {{telefone}}
                                </p>
                                {% if telefone.whatsapp %}
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                {% endif %}
                                {% if telefone.telegram %}
                                    <i class="fa fa-telegram" aria-hidden="true"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="container text-center">
                Site Pessoal: 
                <a href="http://{{pessoa.personalSite}}">
                    {{pessoa.personalSite}}
                </a>
        </footer>
        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>